*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: hsl(209, 66%, 83%);
    --color-success: hsl(134, 46%, 68%);
    --color-neutral: hsl(225, 6%, 25%);
    --color-danger: hsl(352, 68%, 50%);
    --color-background: hsl(220, 6%, 90%);
    --color-background-light: hsl(225, 6%, 95%);
    --shadow-light: rgba(38, 40, 49, 0.15);
    --shadow-mild: rgba(38, 40, 49, 0.35);
    --shadow-dark: rgba(38, 40, 49, 0.5);
}

body {
    width: 300px;
    min-height: 300px;
    font-family: system-ui, sans-serif;
}

header,
footer {
    display: flex;
}

header {
    justify-content: center;
    text-align: center;
    padding-block: 20px;
    background: linear-gradient(var(--shadow-dark), var(--shadow-dark)),
        url("./images/texture_wood.jpg") no-repeat center center;
    background-size: cover;
    color: var(--color-neutral);
}

main {
    padding: 20px;
    box-shadow: 0 6px 16px -2px var(--shadow-mild) inset;
    background: url("./images/texture_wood.jpg") no-repeat center center;
    background-size: cover;
}

footer {
    justify-content: space-between;
}

.title {
    color: var(--color-background);
    line-height: 1em;
}
.title--primary {
    text-transform: uppercase;
}
.title--secondary {
    font-size: 0.8em;
    font-weight: 300;
    text-transform: lowercase;
    letter-spacing: 0.2em;
}

.thumbnails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 10px;
    height: 300px;
    overflow-y: auto;
}
.thumbnails::-webkit-scrollbar {
    width: 18px;
}
.thumbnails::-webkit-scrollbar-thumb {
    background: var(--color-background);
    border-radius: 0px;
}
.thumbnails::-webkit-scrollbar-thumb:hover {
    background: var(--color-background-light);
}
.thumbnails::-webkit-scrollbar-track {
    background: var(--color-neutral);
    border-radius: 0px;
}

.thumbnail {
    position: relative;
}
.thumbnail .cross {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 4px var(--shadow-light);
    background-color: var(--color-neutral);
    color: var(--color-background);
    cursor: pointer;
}
.thumbnail .cross:hover {
    background-color: var(--color-danger);
}
.thumbnail img {
    width: 100px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.thumbnail img:hover {
    box-shadow: 0 4px 8px var(--shadow-light);
}

.btn {
    width: 50%;
    height: 100%;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover {
    filter: brightness(1.1);
}
.btn--primary {
    background-color: var(--color-primary);
    color: var(--color-neutral);
}
.btn--neutral {
    background-color: var(--color-neutral);
    color: var(--color-background);
}
